.vs/
Abdoulaye.MyImmo.Core/bin/
Abdoulaye.MyImmo.Core/obj/
Abdoulaye.MyImmo.Infrastructure/bin/
Abdoulaye.MyImmo.Infrastructure/obj/
Abdoulaye.MyImmo.Application/bin/
Abdoulaye.MyImmo.Application/obj/
Abdoulaye.MyImmo.WebApi/bin/
Abdoulaye.MyImmo.WebApi/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

packages/
*.nupkg

*.log
*.tmp
*.bak

Thumbs.db
ehthumbs.db
.DS_Store
.idea/
*.swp

.vscode/
.idea/